*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.Header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(photo1.webp);
    background-position: center;
    background-size: cover;
    position: relative;
}

img{
    width: 100px;
}
h1{
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
nav{
   display: flex;
   padding: 2% 6% ;
   justify-content: space-between;
   align-items: center;
}

.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
      list-style: none;
      display: inline-block;
      padding: 17px 22px;
      position: relative;
}
.nav-links ul li a{
        color: #fff;
        text-decoration: none;
       font-size: 13px;
       font-family: 'Poppins', sans-serif;
}
.nav-links ul li::after{
      content: '';
      width: 0%;
      height: 2px;
      background: #fff;
      display: block;
      margin: auto;
      transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;

}
.textbox{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}
.textbox h1{
    font-size: 62px;
    font-family: 'Poppins', sans-serif;
}
.textbox p{
    margin: 34px;
    font-size: 14px;
}
.textbox a{
    margin: 25px;
    font-size: 14px;
}
.textbox a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparnt;
    position: relative;
    cursor: pointer;
}
.textbox a:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 2s;
}
.ico1{
    display: none;
}
@media( max-width: 700px)
{
    .textbox h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: fixed;
        background:#f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
         z-index: 2;
         transition: 2s;
    }
    .ico1{
        display: block;
        color: #fff;
       margin: 10px;
       font-size: 22px;
       cursor: pointer;
    }
}
#course{
     width: 80%;
     margin: auto;
     text-align: center;
     padding-top: 100px;


    }
h1{
    font-size: 36px;
    font-weight: 600;

}
p{
  color: #777;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
.row{
   margin-top: 5%;
   display: flex;
   justify-content: space-between;
}
.course_col{
      flex-basis: 31%;
      background: #fff3f3;
      border-radius: 10px;
      margin-bottom: 5%;
      padding: 20px 12px;
      box-sizing: border-box;
}
h3{
    text-align: center;
}
.course_col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);

}
@media(max-width: 700px){
   .row{
       flex-direction: column;
   }
}

.facilites{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
h2{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
  }
.facilites_col{
     width: 30%;
     height: 200px;
  }
  
img{
    width: 100%;
    height: 100%;
  }
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
 }
 @media(max-width: 700px){
    .row{
        flex-direction: column;
    }
 }

 .testnomial{
     width: 80%;
     margin: auto;
     text-align: center;
     padding-top: 190px;
 }

 .testnomial_col{
   flex-basis: 44%;
   border-radius: 10px;
   margin-bottom: 5%;
   text-align: left;
   background: #fff3f3;
   padding: 25px;
   cursor: pointer;
   display: flex;
 }
 .testnomial_col img{
     height: 123px;
     margin-left: 5px;
     margin-right: 30px;
     border-radius: 50%;

 }
 .testnomial_col p{
     padding: 0;
 }
 .testnomial_col h3{
     margin-top: 15px;
     text-align: left;
 }

 .testnomial_col .fa{
     color: #f44336;
 }
 @media(max-width: 700px)
 {
    .testnomial_col img{
        margin-left: 5px;
        margin-right: 15px;
   
    }    
 }
 .cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(banner2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
 }
.cta h1{
    color: #fff;
    margin-bottom:40px;
    padding: 0;
}
.cta a{
    margin: 25px;
    font-size: 14px;
}
.cta a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparnt;
    position: relative;
    cursor: pointer;
}
.cta a:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 2s;
}
@media(max-width:700px)
{ 
   h1{
       font-size: 40px;
   }
}

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
 .footer h1{
     margin-bottom: 25px;
     margin-top: 20px;
     font-weight: 600 ;
 }
 p{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600 ;
}


.SUB-Header{
    min-height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(photo1.webp);
    background-position: center;
    background-size: cover;
    position: relative;
}

.text{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}

.Aboutus{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50PX;
}

.col_Aboutus{
    flex-basis: 48%;
    padding: 30px 20px;
}

.col_Aboutus img{
    padding: 0;
}
.col_Aboutus{
    padding: 15px 0 25px;
}
.col_Aboutus  a{
    margin: 25px;
    font-size: 14px;
}
.col_Aboutus a{
    display: inline-block;
    text-decoration: none;
    color: red;
    border: 1px solid  #f44336;
    padding: 12px 34px;
    font-size: 13px;
    background: transparnt;
    position: relative;
    cursor: pointer;
}
.col_Aboutus a:hover{
    border: 1px solid #f44336;
    background: #f44336;
    color: white;
    transition: 2s;
}

.Sub1_header
  {
    min-height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(photo1.webp);
    background-position: center;
    background-size: cover;
    position: relative;
}

.text2{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.footer2{
    width: 100%;
    text-align: center;
    padding: 175Px 0;
}
.blog_content{
    width: 80%;
    margin: auto;
    padding: 60px 0;
}
.blog_left{
    flex-basis: 65%;
}
.blog_left  img {
    width: 100%;
}
.blog_left h1 {
    color: #222;
    font-weight: 600;
    margin: 30px 0;
}

.footer3{
    width: 100%;
    text-align: center;
    padding: 958Px 0;
}
.footer3 h1{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600 ;
}

.location{
    width: 50%;
    margin: auto;
    padding: 80px 0;
}
.location iframe{
    width: 100%;
}

.contactus{
    width: 80%;
    margin: auto;
}
.contact_col{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact_col div{
    display: flex;
    align-items: center;
    margin-bottom: 48px;
}
.contact_col div p{
    padding: 0;
}
.contact_col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color:#555;
    font-weight: 400;
}
 input, .area{
     width: 100%;
     padding: 15px;
     margin-bottom: 17px;
     outline : none;
     border: 1px solid #ccc;
     box-sizing: border-box;
    }
.contact_col a
{
     margin: 25px;
     font-size: 14px;
}
.contact_col a{
        display: inline-block;
        text-decoration: none;
        color: red;
        border: 1px solid red;
        padding: 12px 34px;
        font-size: 13px;
        background: transparnt;
        position: relative;
        cursor: pointer;
    }
.contact_col a:hover{
        border: 1px solid red;
        background: red;
        color: #fff;
        transition: 2s;
    }

/* BASIC */

html {
    background-color: #fff;
   
  }
  
  body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
  }
  
  a {
    color: #92badd;
    display:inline-block;
    text-decoration: none;
    font-weight: 400;
  }
  
  h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display:inline-block;
    margin: 40px 8px 10px 8px; 
    color: #cccccc;
  }
  
  
  
  /* STRUCTURE */
  
  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
  }
  
  #formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
  }
  
  #formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
  }
  
  
  
  /* TABS */
  
  h2.inactive {
    color: #cccccc;
  }
  
  h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
  }
  
  
  
  /* FORM TYPOGRAPHY*/
  
  input[type=button], input[type=submit], input[type=reset]  {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 2px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
    background-color: #39ace7;
  }
  
  input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
  
  input[type=text] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }
  
  input[type=text]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
  }
  
  input[type=text]:placeholder {
    color: #cccccc;
  }
  
  
  
  /* ANIMATIONS */
  
  /* Simple CSS3 Fade-in-down Animation */
  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  /* Simple CSS3 Fade-in Animation */
  @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  
  .fadeIn {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
  
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
  }
  
  .fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  
  .fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
  
  .fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }
  
  .fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
  }
  
  /* Simple CSS3 Fade-in Animation */
  .underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #fff;
    content: "";
    transition: width 0.2s;
  }
  
  .underlineHover:hover {
    color: #0d0d0d;
  }
  
  .underlineHover:hover:after{
    width: 100%;
  }
  
  
  
  /* OTHERS */
  
  *:focus {
      outline: none;
  } 
  
  #icon {
    width:60%;
  }